@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(rgba(59, 51, 51, 0.3), rgba(83, 81, 81, 0.3)),
    url(./images/header.jpeg);
  background-size: cover;
  background-position: top;
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
}

.head-area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-area h1 {
  text-align: center;
  max-width: 780px;
}

.head-area h1,
.content h2 {
  font-family: "Roboto Slab", serif;
}

.head-area h1 span {
  font-weight: normal;
  font-size: 36px;
  color: white;
  vertical-align: sub;
}

.profile {
  text-align: center;
  position: absolute;
  bottom: -105px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.profile img {
  width: 100px;
  border-radius: 100%;
  border: 2px solid rgb(196, 108, 108);
}

.profile div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile div p {
  line-height: 24px;
}

.content div span,
.content p,
.profile div p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: rgb(51, 51, 51);
}

.name {
  font-weight: bold;
}

.profile div p.date {
  font-weight: normal;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: rgb(4, 63, 139);
  margin-bottom: 10px;
}

#line {
  min-width: 170px;
  height: 2px;
  background-color: #e6e6e6;
}

section {
  width: 66.67%;
  margin: auto;
  padding-top: 100px;
}

section ol {
  margin-top: 60px;
  list-style-position: outside;
}

section ol li::marker {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.25);
}

.content {
  margin-left: 40px;
}

.content h2 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.content a {
  color: #42b4d6;
  text-decoration: none;
  font-weight: normal;
}

.content a:hover {
  text-decoration: underline;
}

.content p {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

.content div {
  margin-bottom: 20px;
}

.content div span {
  font-weight: bold;
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 120px;
}
